.DS_Store
.vscode/
.idea/
*.swp
*.swo
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
target/
logs/
build/
dist/
.pytest_cache/
.ruff_cache/
node_modules/
**/bin/
**/obj/
**/.pbi/cache.abf
**/.pbi/localSettings.json
**/.pbi/unappliedChanges.json
*.pbix
*.pbit
tmp/
temp/
